sing-box-webui.exe
controller/sing-box-controller.exe
config.json
!packaging/config.json
config.json.meta
config.json.bak
web/node_modules
web/dist
testdata/
*.log
sing-box-config.json
!packaging/config.json
controller/sing-box-config.json
*.json.bak
go.work
dist/
*.deb
*.tar.gz
go.work.sum
